<div class="doorList viewBox">
  <div class="zwSearch">
    <div class="right">
      <el-button (click)="add()" size="mini" type="primary">添加</el-button>
    </div>
  </div>
  <div class="viewMain">
    <table class="zwTable">
      <tr>
        <th>名称</th>
        <th>图片</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let item of list let i=index">
        <td>{{item.name}}</td>
        <td>
          <img [src]="item.img" alt="">
        </td>
        <td>
          <button (click)="see(item)">查看</button>
          <button (click)="add(item)">编辑</button>
        </td>
      </tr>
    </table>
  </div>
</div>
