body{
    background: #3db9ac;
}
.log-box
{
    position: absolute;
    right: 600px;
    top: 30px;
    width: 390px;
    height: 400px;
    border: 1px solid #f8fff4;
    background: rgba(255, 255, 255, 0.96);
    padding: 30px;
}
.log-box h2
{
    font-family: 华文宋体;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3db9ac;
    color: #3db9ac;
}
.log-box form {
    color: #4e4e4e;
    padding-top: 10px;
}
.log-box form .lable {
    margin: 30px 0 20px;
    font-size: 16px;
}
.log-box form .lable span {
    display: inline-block;
    width: 70px;
}
.log-box form .lable input {
    height: 36px;
    border: 1px solid #dbdbdb;
    width: 250px;
    padding: 0 6px;
}
.log-box form .lable b {
    display: inline-block;
    height: 36px;
    width: 120px;
    margin-left: 10px;
    border: 1px solid #68ff64;
    background: #FFF;
    color: #68ff64;
    text-align: center;
    line-height: 36px;
    cursor: pointer;
}
.log-box form .check-box {
    font-size: 12px;
    padding-left: 76px;
}
.log-box form .check-box label {
    margin-left: 2px;
    cursor: pointer;
}
.log-box form .check-box a {
    color: #999999;
    float: right;
}
.log-box form .check-box1 {
    font-size: 12px;
    padding-left: 76px;
}
.log-box form .check-box1 label {
    margin-left: 2px;
    cursor: pointer;
}
.log-box form .check-box1 a {
    color: #68ff64;
}
.log-box form .log-btn {
    text-align: center;
    padding-left: 76px;
    padding-top: 26px;
}
.log-box form .log-btn > a {
    display: inline-block;
    width: 250px;
    height: 42px;
    background: #68ff64;
    color: #FFF;
    line-height: 42px;
    border-radius: 5px;
    text-decoration: none;
}
.log-box form .log-btn p {
    font-size: 14px;
    margin-top: 15px;
}
.log-box form .log-btn p span {
    color: #999999;
    text-decoration: none;
}
.log-box form .log-btn p a {
    color: #68ff64;
}
.log-box .form1 .lable {
    margin: 20px 0 20px;
    font-size: 16px;
}
a {
    text-decoration: none;
}