body{
    background: #3db9ac;
}

.nav_box{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.96);
}
.log-box
{
    position: absolute;
    right: 600px;
    top: 130px;
    width: 1200px;
    height: 1000px;
    border: 1px solid #2fff16;
    background: rgba(255, 255, 255, 0.96);
    padding: 30px;
}
.log-box h2
{
    font-family: 华文宋体;
    font-size: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #3db9ac;
    color: #3db9ac;
}
.log-box .a
{
    position: absolute;
    top:70px;
    right: 100px;
    font-family: 华文宋体;
    font-size: 20px;
    color: #3db9ac;
    text-decoration:none
}
.log-box ul
{
    width:200px ;
    height: 100px;
}
.log-box li
{   width:130px;
    height:31px;
    float:left;
    line-height:120px;
    text-align:center;
    font-family:宋体;
    color:#111;
    list-style-type:none;
}
.log-box li a
{
    text-decoration:none
}
.log-box table{
    position: absolute;
    top: 130px;
    left: 100px;
    width: 80%;
    height: 82px;


}
.log-box th
{
    background: #cff4ff;
    width: 35%;
}

.log-box a{
    text-decoration: none;
    color: #ff2343;
}