<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户管理</title>
    <link type="text/css"  rel="stylesheet" href="../static/CSS/usergl.css"  />
    <script src="../static/js/jquery-3.2.1.min.js" ></script>
    <script src="../static/js/userlist.js"></script>
</head>
<body>
<div class="nav_box">

</div>
<div class="log-box">
    <h2>用户列表</h2>
    <p><a  class="a" href="#">新建应用</a></p>
    <table border="1" cellspacing="0" cellpadding="0">
    <tr>
        <th >应用名称</th>
        <th >描述</th>
        <th >操作</th>
    </tr>
    </table>
</div>
</body>
</html>