.menuCpl{ height: 100%; position: relative; padding-top: 50px; padding-left: 200px;
  >.header{ position: absolute; left: 0; top:0; right: 0; height: 50px; background: #099;
    line-height: 50px;font-size: 20px; padding-left: 40px;
  }
  >.leftMenu{ width: 200px; background: #f1f1f1; position: absolute;
    left: 0; top:50px; bottom: 0;
    >li{
      >span{ display: inline-block;padding-left: 20px; line-height: 30px;
        background: #c00; width: 100%; cursor: pointer;}
    }
    .child{
      li{
        >span{display: inline-block;padding-left: 40px; line-height: 30px;
          background: #bbb; width: 100%; cursor: pointer;}
      }
    }
  }
}



