<div class="clientList viewBox">
  <div class="zwSearch">
    <div>
      <span>开始时间</span>
      <el-date-picker style="display: inline-block" [(model)]="search.startTime"
                      [format]="'yyyy年MM月dd日'"></el-date-picker>
      <span>截至时间</span>
      <el-date-picker style="display: inline-block" [(model)]="search.endTime"
                      [format]="'yyyy年MM月dd日'"></el-date-picker>

      <el-button (click)="getList(1)" [plain]="true" type="success">搜索</el-button>
    </div>
    <div class="right">
      <!--<el-button *ngIf="userType!=2" (click)="add()" size="mini" type="primary">添加</el-button>--></div>
  </div>
  <div class="viewMain"  [el-loading]="loading" [text]="'拼命加载中'">
    <div class="noData" *ngIf="!list.length">
      <span>没有数据...</span>
    </div>
    <table class="zwTable">
      <tr>
        <th>姓名</th>
        <th>工序</th>
        <th>结束时间</th>
        <th>工资</th>
      </tr>
      <tr *ngFor="let item of list let i=index">
        <td>{{item.user.name}}</td>
        <td>{{item.user.type}}</td>
        <td>{{item.endTime| date:'yyyy年MM月dd日'}}</td>
        <td>{{item.price}}（元）</td>
      </tr>
    </table>
    <div class="pageBox">
      <el-pagination *ngIf="total" [total]="total"
                     [page-size]="pageSize"
                     [(model)]="pageNum"
                     (modelChange)="getList(0)"
                     [layout]="['prev', 'pager', 'next', 'jumper', 'total']">
      </el-pagination>
    </div>
  </div>
</div>


