<div>
  <label>
    <span>名称：</span>
    <input [(ngModel)]="line.name" placeholder="请输入密码" type="text" >
  </label>
  <label>
    <span>添加图片：</span>
    <app-cropper-img [cpImg]="line.img" [boxStyle]="{width:200,height:200}"
                     (saveEnd)="imageChange($event)"></app-cropper-img>
  </label>
  <label>
    <span>选择颜色：</span>
    <input [(ngModel)]="line.value" type="text">
  </label>

  <button (click)="save()" type="info" style="width: 100%; margin-top: 30px;">保存</button>
</div>
