<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.cf.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.zw.cf.model.Product">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="doorId" jdbcType="VARCHAR" property="doorid" />
    <result column="processIds" jdbcType="VARCHAR" property="processids" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="startTime" jdbcType="TIMESTAMP" property="starttime" />
    <result column="endTime" jdbcType="TIMESTAMP" property="endtime" />
    <result column="corporationId" jdbcType="VARCHAR" property="corporationid" />
    <result column="weightCover" jdbcType="INTEGER" property="weightcover" />
    <result column="heightCover" jdbcType="INTEGER" property="heightcover" />
    <result column="depthCover" jdbcType="INTEGER" property="depthcover" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="weightLb" jdbcType="INTEGER" property="weightlb" />
    <result column="heightLb" jdbcType="INTEGER" property="heightlb" />
    <result column="weightDb" jdbcType="INTEGER" property="weightdb" />
    <result column="heightDb" jdbcType="INTEGER" property="heightdb" />
    <result column="colorId" jdbcType="VARCHAR" property="colorid" />
    <result column="lineId" jdbcType="VARCHAR" property="lineid" />
    <result column="lineSum" jdbcType="INTEGER" property="linesum" />
    <result column="productcol" jdbcType="VARCHAR" property="productcol" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="isModule" jdbcType="BIT" property="ismodule" />
    <result column="moduleId" jdbcType="VARCHAR" property="moduleid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, doorId, processIds, img, describe, startTime, endTime, corporationId, weightCover, 
    heightCover, depthCover, weight, height, weightLb, heightLb, weightDb, heightDb, 
    colorId, lineId, lineSum, productcol, type, isModule, moduleId
  </sql>
  <select id="selectByExample" parameterType="com.zw.cf.model.ProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from product
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zw.cf.model.ProductExample">
    delete from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zw.cf.model.Product">
    insert into product (id, name, doorId, 
      processIds, img, describe, 
      startTime, endTime, corporationId, 
      weightCover, heightCover, depthCover, 
      weight, height, weightLb, 
      heightLb, weightDb, heightDb, 
      colorId, lineId, lineSum, 
      productcol, type, isModule, 
      moduleId)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{doorid,jdbcType=VARCHAR}, 
      #{processids,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{starttime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{corporationid,jdbcType=VARCHAR}, 
      #{weightcover,jdbcType=INTEGER}, #{heightcover,jdbcType=INTEGER}, #{depthcover,jdbcType=INTEGER}, 
      #{weight,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{weightlb,jdbcType=INTEGER}, 
      #{heightlb,jdbcType=INTEGER}, #{weightdb,jdbcType=INTEGER}, #{heightdb,jdbcType=INTEGER}, 
      #{colorid,jdbcType=VARCHAR}, #{lineid,jdbcType=VARCHAR}, #{linesum,jdbcType=INTEGER}, 
      #{productcol,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{ismodule,jdbcType=BIT}, 
      #{moduleid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zw.cf.model.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="doorid != null">
        doorId,
      </if>
      <if test="processids != null">
        processIds,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="describe != null">
        describe,
      </if>
      <if test="starttime != null">
        startTime,
      </if>
      <if test="endtime != null">
        endTime,
      </if>
      <if test="corporationid != null">
        corporationId,
      </if>
      <if test="weightcover != null">
        weightCover,
      </if>
      <if test="heightcover != null">
        heightCover,
      </if>
      <if test="depthcover != null">
        depthCover,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="weightlb != null">
        weightLb,
      </if>
      <if test="heightlb != null">
        heightLb,
      </if>
      <if test="weightdb != null">
        weightDb,
      </if>
      <if test="heightdb != null">
        heightDb,
      </if>
      <if test="colorid != null">
        colorId,
      </if>
      <if test="lineid != null">
        lineId,
      </if>
      <if test="linesum != null">
        lineSum,
      </if>
      <if test="productcol != null">
        productcol,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="ismodule != null">
        isModule,
      </if>
      <if test="moduleid != null">
        moduleId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="doorid != null">
        #{doorid,jdbcType=VARCHAR},
      </if>
      <if test="processids != null">
        #{processids,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="corporationid != null">
        #{corporationid,jdbcType=VARCHAR},
      </if>
      <if test="weightcover != null">
        #{weightcover,jdbcType=INTEGER},
      </if>
      <if test="heightcover != null">
        #{heightcover,jdbcType=INTEGER},
      </if>
      <if test="depthcover != null">
        #{depthcover,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="weightlb != null">
        #{weightlb,jdbcType=INTEGER},
      </if>
      <if test="heightlb != null">
        #{heightlb,jdbcType=INTEGER},
      </if>
      <if test="weightdb != null">
        #{weightdb,jdbcType=INTEGER},
      </if>
      <if test="heightdb != null">
        #{heightdb,jdbcType=INTEGER},
      </if>
      <if test="colorid != null">
        #{colorid,jdbcType=VARCHAR},
      </if>
      <if test="lineid != null">
        #{lineid,jdbcType=VARCHAR},
      </if>
      <if test="linesum != null">
        #{linesum,jdbcType=INTEGER},
      </if>
      <if test="productcol != null">
        #{productcol,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="ismodule != null">
        #{ismodule,jdbcType=BIT},
      </if>
      <if test="moduleid != null">
        #{moduleid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zw.cf.model.ProductExample" resultType="java.lang.Long">
    select count(*) from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.doorid != null">
        doorId = #{record.doorid,jdbcType=VARCHAR},
      </if>
      <if test="record.processids != null">
        processIds = #{record.processids,jdbcType=VARCHAR},
      </if>
      <if test="record.img != null">
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.describe != null">
        describe = #{record.describe,jdbcType=VARCHAR},
      </if>
      <if test="record.starttime != null">
        startTime = #{record.starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endtime != null">
        endTime = #{record.endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.corporationid != null">
        corporationId = #{record.corporationid,jdbcType=VARCHAR},
      </if>
      <if test="record.weightcover != null">
        weightCover = #{record.weightcover,jdbcType=INTEGER},
      </if>
      <if test="record.heightcover != null">
        heightCover = #{record.heightcover,jdbcType=INTEGER},
      </if>
      <if test="record.depthcover != null">
        depthCover = #{record.depthcover,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=INTEGER},
      </if>
      <if test="record.height != null">
        height = #{record.height,jdbcType=INTEGER},
      </if>
      <if test="record.weightlb != null">
        weightLb = #{record.weightlb,jdbcType=INTEGER},
      </if>
      <if test="record.heightlb != null">
        heightLb = #{record.heightlb,jdbcType=INTEGER},
      </if>
      <if test="record.weightdb != null">
        weightDb = #{record.weightdb,jdbcType=INTEGER},
      </if>
      <if test="record.heightdb != null">
        heightDb = #{record.heightdb,jdbcType=INTEGER},
      </if>
      <if test="record.colorid != null">
        colorId = #{record.colorid,jdbcType=VARCHAR},
      </if>
      <if test="record.lineid != null">
        lineId = #{record.lineid,jdbcType=VARCHAR},
      </if>
      <if test="record.linesum != null">
        lineSum = #{record.linesum,jdbcType=INTEGER},
      </if>
      <if test="record.productcol != null">
        productcol = #{record.productcol,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.ismodule != null">
        isModule = #{record.ismodule,jdbcType=BIT},
      </if>
      <if test="record.moduleid != null">
        moduleId = #{record.moduleid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      doorId = #{record.doorid,jdbcType=VARCHAR},
      processIds = #{record.processids,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      describe = #{record.describe,jdbcType=VARCHAR},
      startTime = #{record.starttime,jdbcType=TIMESTAMP},
      endTime = #{record.endtime,jdbcType=TIMESTAMP},
      corporationId = #{record.corporationid,jdbcType=VARCHAR},
      weightCover = #{record.weightcover,jdbcType=INTEGER},
      heightCover = #{record.heightcover,jdbcType=INTEGER},
      depthCover = #{record.depthcover,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=INTEGER},
      height = #{record.height,jdbcType=INTEGER},
      weightLb = #{record.weightlb,jdbcType=INTEGER},
      heightLb = #{record.heightlb,jdbcType=INTEGER},
      weightDb = #{record.weightdb,jdbcType=INTEGER},
      heightDb = #{record.heightdb,jdbcType=INTEGER},
      colorId = #{record.colorid,jdbcType=VARCHAR},
      lineId = #{record.lineid,jdbcType=VARCHAR},
      lineSum = #{record.linesum,jdbcType=INTEGER},
      productcol = #{record.productcol,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      isModule = #{record.ismodule,jdbcType=BIT},
      moduleId = #{record.moduleid,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zw.cf.model.Product">
    update product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="doorid != null">
        doorId = #{doorid,jdbcType=VARCHAR},
      </if>
      <if test="processids != null">
        processIds = #{processids,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="starttime != null">
        startTime = #{starttime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="corporationid != null">
        corporationId = #{corporationid,jdbcType=VARCHAR},
      </if>
      <if test="weightcover != null">
        weightCover = #{weightcover,jdbcType=INTEGER},
      </if>
      <if test="heightcover != null">
        heightCover = #{heightcover,jdbcType=INTEGER},
      </if>
      <if test="depthcover != null">
        depthCover = #{depthcover,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="weightlb != null">
        weightLb = #{weightlb,jdbcType=INTEGER},
      </if>
      <if test="heightlb != null">
        heightLb = #{heightlb,jdbcType=INTEGER},
      </if>
      <if test="weightdb != null">
        weightDb = #{weightdb,jdbcType=INTEGER},
      </if>
      <if test="heightdb != null">
        heightDb = #{heightdb,jdbcType=INTEGER},
      </if>
      <if test="colorid != null">
        colorId = #{colorid,jdbcType=VARCHAR},
      </if>
      <if test="lineid != null">
        lineId = #{lineid,jdbcType=VARCHAR},
      </if>
      <if test="linesum != null">
        lineSum = #{linesum,jdbcType=INTEGER},
      </if>
      <if test="productcol != null">
        productcol = #{productcol,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="ismodule != null">
        isModule = #{ismodule,jdbcType=BIT},
      </if>
      <if test="moduleid != null">
        moduleId = #{moduleid,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zw.cf.model.Product">
    update product
    set name = #{name,jdbcType=VARCHAR},
      doorId = #{doorid,jdbcType=VARCHAR},
      processIds = #{processids,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      startTime = #{starttime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP},
      corporationId = #{corporationid,jdbcType=VARCHAR},
      weightCover = #{weightcover,jdbcType=INTEGER},
      heightCover = #{heightcover,jdbcType=INTEGER},
      depthCover = #{depthcover,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      weightLb = #{weightlb,jdbcType=INTEGER},
      heightLb = #{heightlb,jdbcType=INTEGER},
      weightDb = #{weightdb,jdbcType=INTEGER},
      heightDb = #{heightdb,jdbcType=INTEGER},
      colorId = #{colorid,jdbcType=VARCHAR},
      lineId = #{lineid,jdbcType=VARCHAR},
      lineSum = #{linesum,jdbcType=INTEGER},
      productcol = #{productcol,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      isModule = #{ismodule,jdbcType=BIT},
      moduleId = #{moduleid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>