<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zw.cf.dao.ProductMapper">
  <resultMap id="BaseResultMap" type="com.zw.cf.model.Product">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="doorId" jdbcType="VARCHAR" property="doorid" />
    <result column="process_ids" jdbcType="VARCHAR" property="processIds" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="corporation_id" jdbcType="VARCHAR" property="corporationId" />
    <result column="weight_cover" jdbcType="INTEGER" property="weightCover" />
    <result column="height_cover" jdbcType="INTEGER" property="heightCover" />
    <result column="depth_cover" jdbcType="INTEGER" property="depthCover" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="weight_lb" jdbcType="INTEGER" property="weightLb" />
    <result column="height_lb" jdbcType="INTEGER" property="heightLb" />
    <result column="weight_db" jdbcType="INTEGER" property="weightDb" />
    <result column="height_db" jdbcType="INTEGER" property="heightDb" />
    <result column="color_id" jdbcType="VARCHAR" property="colorId" />
    <result column="line_id" jdbcType="VARCHAR" property="lineId" />
    <result column="line_sum" jdbcType="INTEGER" property="lineSum" />
    <result column="productcol" jdbcType="VARCHAR" property="productcol" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="is_module" jdbcType="BIT" property="isModule" />
    <result column="module_id" jdbcType="VARCHAR" property="moduleId" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, name, doorId, process_ids, img, describe, start_time, end_time, corporation_id, 
    weight_cover, height_cover, depth_cover, weight, height, weight_lb, height_lb, weight_db, 
    height_db, color_id, line_id, line_sum, productcol, type, is_module, module_id, state
  </sql>
  <select id="selectByExample" parameterType="com.zw.cf.model.ProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from product
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from product
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.zw.cf.model.ProductExample">
    delete from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.zw.cf.model.Product">
    insert into product (id, name, doorId, 
      process_ids, img, describe, 
      start_time, end_time, corporation_id, 
      weight_cover, height_cover, depth_cover, 
      weight, height, weight_lb, 
      height_lb, weight_db, height_db, 
      color_id, line_id, line_sum, 
      productcol, type, is_module, 
      module_id, state)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{doorid,jdbcType=VARCHAR}, 
      #{processIds,jdbcType=VARCHAR}, #{img,jdbcType=VARCHAR}, #{describe,jdbcType=VARCHAR}, 
      #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{corporationId,jdbcType=VARCHAR}, 
      #{weightCover,jdbcType=INTEGER}, #{heightCover,jdbcType=INTEGER}, #{depthCover,jdbcType=INTEGER}, 
      #{weight,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, #{weightLb,jdbcType=INTEGER}, 
      #{heightLb,jdbcType=INTEGER}, #{weightDb,jdbcType=INTEGER}, #{heightDb,jdbcType=INTEGER}, 
      #{colorId,jdbcType=VARCHAR}, #{lineId,jdbcType=VARCHAR}, #{lineSum,jdbcType=INTEGER}, 
      #{productcol,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{isModule,jdbcType=BIT}, 
      #{moduleId,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.zw.cf.model.Product">
    insert into product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="doorid != null">
        doorId,
      </if>
      <if test="processIds != null">
        process_ids,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="describe != null">
        describe,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="corporationId != null">
        corporation_id,
      </if>
      <if test="weightCover != null">
        weight_cover,
      </if>
      <if test="heightCover != null">
        height_cover,
      </if>
      <if test="depthCover != null">
        depth_cover,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="weightLb != null">
        weight_lb,
      </if>
      <if test="heightLb != null">
        height_lb,
      </if>
      <if test="weightDb != null">
        weight_db,
      </if>
      <if test="heightDb != null">
        height_db,
      </if>
      <if test="colorId != null">
        color_id,
      </if>
      <if test="lineId != null">
        line_id,
      </if>
      <if test="lineSum != null">
        line_sum,
      </if>
      <if test="productcol != null">
        productcol,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="isModule != null">
        is_module,
      </if>
      <if test="moduleId != null">
        module_id,
      </if>
      <if test="state != null">
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="doorid != null">
        #{doorid,jdbcType=VARCHAR},
      </if>
      <if test="processIds != null">
        #{processIds,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        #{describe,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="corporationId != null">
        #{corporationId,jdbcType=VARCHAR},
      </if>
      <if test="weightCover != null">
        #{weightCover,jdbcType=INTEGER},
      </if>
      <if test="heightCover != null">
        #{heightCover,jdbcType=INTEGER},
      </if>
      <if test="depthCover != null">
        #{depthCover,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="weightLb != null">
        #{weightLb,jdbcType=INTEGER},
      </if>
      <if test="heightLb != null">
        #{heightLb,jdbcType=INTEGER},
      </if>
      <if test="weightDb != null">
        #{weightDb,jdbcType=INTEGER},
      </if>
      <if test="heightDb != null">
        #{heightDb,jdbcType=INTEGER},
      </if>
      <if test="colorId != null">
        #{colorId,jdbcType=VARCHAR},
      </if>
      <if test="lineId != null">
        #{lineId,jdbcType=VARCHAR},
      </if>
      <if test="lineSum != null">
        #{lineSum,jdbcType=INTEGER},
      </if>
      <if test="productcol != null">
        #{productcol,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="isModule != null">
        #{isModule,jdbcType=BIT},
      </if>
      <if test="moduleId != null">
        #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.zw.cf.model.ProductExample" resultType="java.lang.Long">
    select count(*) from product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update product
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.doorid != null">
        doorId = #{record.doorid,jdbcType=VARCHAR},
      </if>
      <if test="record.processIds != null">
        process_ids = #{record.processIds,jdbcType=VARCHAR},
      </if>
      <if test="record.img != null">
        img = #{record.img,jdbcType=VARCHAR},
      </if>
      <if test="record.describe != null">
        describe = #{record.describe,jdbcType=VARCHAR},
      </if>
      <if test="record.startTime != null">
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endTime != null">
        end_time = #{record.endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.corporationId != null">
        corporation_id = #{record.corporationId,jdbcType=VARCHAR},
      </if>
      <if test="record.weightCover != null">
        weight_cover = #{record.weightCover,jdbcType=INTEGER},
      </if>
      <if test="record.heightCover != null">
        height_cover = #{record.heightCover,jdbcType=INTEGER},
      </if>
      <if test="record.depthCover != null">
        depth_cover = #{record.depthCover,jdbcType=INTEGER},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=INTEGER},
      </if>
      <if test="record.height != null">
        height = #{record.height,jdbcType=INTEGER},
      </if>
      <if test="record.weightLb != null">
        weight_lb = #{record.weightLb,jdbcType=INTEGER},
      </if>
      <if test="record.heightLb != null">
        height_lb = #{record.heightLb,jdbcType=INTEGER},
      </if>
      <if test="record.weightDb != null">
        weight_db = #{record.weightDb,jdbcType=INTEGER},
      </if>
      <if test="record.heightDb != null">
        height_db = #{record.heightDb,jdbcType=INTEGER},
      </if>
      <if test="record.colorId != null">
        color_id = #{record.colorId,jdbcType=VARCHAR},
      </if>
      <if test="record.lineId != null">
        line_id = #{record.lineId,jdbcType=VARCHAR},
      </if>
      <if test="record.lineSum != null">
        line_sum = #{record.lineSum,jdbcType=INTEGER},
      </if>
      <if test="record.productcol != null">
        productcol = #{record.productcol,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null">
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.isModule != null">
        is_module = #{record.isModule,jdbcType=BIT},
      </if>
      <if test="record.moduleId != null">
        module_id = #{record.moduleId,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        state = #{record.state,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update product
    set id = #{record.id,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      doorId = #{record.doorid,jdbcType=VARCHAR},
      process_ids = #{record.processIds,jdbcType=VARCHAR},
      img = #{record.img,jdbcType=VARCHAR},
      describe = #{record.describe,jdbcType=VARCHAR},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      end_time = #{record.endTime,jdbcType=TIMESTAMP},
      corporation_id = #{record.corporationId,jdbcType=VARCHAR},
      weight_cover = #{record.weightCover,jdbcType=INTEGER},
      height_cover = #{record.heightCover,jdbcType=INTEGER},
      depth_cover = #{record.depthCover,jdbcType=INTEGER},
      weight = #{record.weight,jdbcType=INTEGER},
      height = #{record.height,jdbcType=INTEGER},
      weight_lb = #{record.weightLb,jdbcType=INTEGER},
      height_lb = #{record.heightLb,jdbcType=INTEGER},
      weight_db = #{record.weightDb,jdbcType=INTEGER},
      height_db = #{record.heightDb,jdbcType=INTEGER},
      color_id = #{record.colorId,jdbcType=VARCHAR},
      line_id = #{record.lineId,jdbcType=VARCHAR},
      line_sum = #{record.lineSum,jdbcType=INTEGER},
      productcol = #{record.productcol,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=INTEGER},
      is_module = #{record.isModule,jdbcType=BIT},
      module_id = #{record.moduleId,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.zw.cf.model.Product">
    update product
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="doorid != null">
        doorId = #{doorid,jdbcType=VARCHAR},
      </if>
      <if test="processIds != null">
        process_ids = #{processIds,jdbcType=VARCHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="describe != null">
        describe = #{describe,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="corporationId != null">
        corporation_id = #{corporationId,jdbcType=VARCHAR},
      </if>
      <if test="weightCover != null">
        weight_cover = #{weightCover,jdbcType=INTEGER},
      </if>
      <if test="heightCover != null">
        height_cover = #{heightCover,jdbcType=INTEGER},
      </if>
      <if test="depthCover != null">
        depth_cover = #{depthCover,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="weightLb != null">
        weight_lb = #{weightLb,jdbcType=INTEGER},
      </if>
      <if test="heightLb != null">
        height_lb = #{heightLb,jdbcType=INTEGER},
      </if>
      <if test="weightDb != null">
        weight_db = #{weightDb,jdbcType=INTEGER},
      </if>
      <if test="heightDb != null">
        height_db = #{heightDb,jdbcType=INTEGER},
      </if>
      <if test="colorId != null">
        color_id = #{colorId,jdbcType=VARCHAR},
      </if>
      <if test="lineId != null">
        line_id = #{lineId,jdbcType=VARCHAR},
      </if>
      <if test="lineSum != null">
        line_sum = #{lineSum,jdbcType=INTEGER},
      </if>
      <if test="productcol != null">
        productcol = #{productcol,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="isModule != null">
        is_module = #{isModule,jdbcType=BIT},
      </if>
      <if test="moduleId != null">
        module_id = #{moduleId,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zw.cf.model.Product">
    update product
    set name = #{name,jdbcType=VARCHAR},
      doorId = #{doorid,jdbcType=VARCHAR},
      process_ids = #{processIds,jdbcType=VARCHAR},
      img = #{img,jdbcType=VARCHAR},
      describe = #{describe,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      corporation_id = #{corporationId,jdbcType=VARCHAR},
      weight_cover = #{weightCover,jdbcType=INTEGER},
      height_cover = #{heightCover,jdbcType=INTEGER},
      depth_cover = #{depthCover,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      weight_lb = #{weightLb,jdbcType=INTEGER},
      height_lb = #{heightLb,jdbcType=INTEGER},
      weight_db = #{weightDb,jdbcType=INTEGER},
      height_db = #{heightDb,jdbcType=INTEGER},
      color_id = #{colorId,jdbcType=VARCHAR},
      line_id = #{lineId,jdbcType=VARCHAR},
      line_sum = #{lineSum,jdbcType=INTEGER},
      productcol = #{productcol,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      is_module = #{isModule,jdbcType=BIT},
      module_id = #{moduleId,jdbcType=VARCHAR},
      state = #{state,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>